.card {
    display: grid;
    grid-template-columns: 21% 26% 4% 5% 20% 40%;
    grid-template-rows: 150px;
    grid-gap: 1px;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    
    
}